In [2]:
# import packages
import pandas as pd
import numpy as np

In [3]:
# grab data from csv
csvpath = "../data/Analytics_Sample_Data_rsc.csv"

df = pd.read_csv(csvpath)
df.head()

,Customer_placed_order_datetime,Placed_order_with_restaurant_datetime,Driver_at_restaurant_datetime,Delivered_to_consumer_datetime,Driver_ID,Restaurant_ID,Consumer_ID,Is_New,Delivery_Region,Is_ASAP,Order_total,Amount_of_discount,Amount_of_tip,Refunded_amount
0,14 20:27:45,14 20:29:41,14 20:39:32,14 20:52:03,86,12,5,False,Palo Alto,True,20.45,20.45,3.07,0.0
1,07 20:16:28,07 20:17:32,07 20:36:00,07 20:49:02,325,66,5,False,Palo Alto,True,40.62,40.62,3.73,0.0
2,13 19:35:09,13 19:39:26,13 20:28:16,13 20:52:44,200,124,5,False,Palo Alto,True,37.78,37.78,1.89,0.0
3,22 19:47:53,22 19:56:08,22 20:01:20,22 20:18:01,154,5,14,False,Palo Alto,True,39.66,0.00,1.98,0.0
4,03 19:01:52,03 19:09:08,03 19:36:20,03 19:45:26,332,9,14,False,Palo Alto,True,39.66,0.00,5.95,0.0

In [5]:
df[]

Customer_placed_order_datetime            object
Placed_order_with_restaurant_datetime     object
Driver_at_restaurant_datetime             object
Delivered_to_consumer_datetime            object
Driver_ID                                  int64
Restaurant_ID                              int64
Consumer_ID                                int64
Is_New                                      bool
Delivery_Region                           object
Is_ASAP                                     bool
Order_total                              float64
Amount_of_discount                       float64
Amount_of_tip                            float64
Refunded_amount                          float64
dtype: object

In [4]:
# Delivery time calculations added to dataframe
df_times = df
df_times['total_time'] = df_times['Delivered_to_consumer_datetime'] - df_times['Customer_placed_order_datetime']

df_times.head()

TypeError: unsupported operand type(s) for -: 'str' and 'str'